#title{
  background-image: url("image2.jpg");
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: cover;
  animation: slide 20s infinite;
  height: 850px;
  padding: 2rem;
}
@keyframes slide{
  0%{
    background-image: url("image2.jpg");
  }
  25%{
    background-image: url("image1.jpg");
  }
  50%{
    background-image: url("image3.jpg");
  }
  75%{
    background-image: url("image5.jpg");
  }
  100%{
    background-image: url("image6.jpg");
  }
}
.navname{
  height: 41px;
  width:180px;
  opacity: 100%;
}
.item{
  color:#e6a400;
  padding-right: 1rem;
  font-weight: bold;
}
.container-fluid{
  padding: 3% 15%;
  padding-bottom:8%;
}
.profile{
  width: 500px;
  height: 500px;
  border-radius: 100%;
  padding: 4rem;
}
.yo
{
  text-align: center;
}
#modhu{
  font-family: 'Ma Shan Zheng', cursive;
  font-size: 2rem;
  color: #fae8c8;
}
.name{
  padding-left: 200px;
  color: #fae8c8;
}
#skills{
  position: relative;
  z-index: 1;
  text-align: center;
  padding-top: 10rem;
  padding-bottom: 10rem;
  padding: 7% 15%;
}
.icon1{
  color: #801336;
  font-size: 5rem;
  padding: 2rem;
}
.icon2{
  color: #0c9463;
  font-size: 5rem;
  padding: 2rem;
}
.icon3{
  color: #ff971d;
  font-size: 5rem;
  padding: 2rem;
}
.ic:hover{
  color: #ff4c68;
}
.int{

  padding: 0;
  border: 0;
  margin: 0;
  border-radius: 5px;
  height: 250px;
}

.color{
  margin: 4px;
  background: yellow;
  border-radius: 5px;
  padding-bottom:1rem;
  padding-left: 0.1rem;
  padding-right: 0.1rem;
}
.navi{

  opacity: 50%;
  border-radius: 20px;
}
.navi:hover{
  opacity:100%;
}
.slanter{
  position: relative;
  width: 100%;
  height:400px;
  background: yellow;
}
  .slanter:after{
  position:absolute;
  width: 100%;
  height: 100%;
  content: '';
  background: inherit;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transform-origin: bottom left;
  transform: skewY(4deg);
  display: block;
}
@media (max-width: 999px) {
  .i3{
    background: #ef8172;
  }
  .int2{
    background: linear-gradient(90deg,#34a853 4%,#4285f4 0%) top/100% 34% no-repeat,linear-gradient(90deg,#232020 50%,#4285f4 0%) top/100% 82% no-repeat,linear-gradient(90deg,#232020 10%,#ea4335 0%) top/100% 100%;
  }
  #testimonials{
      text-align: center;
      background-color: #ef8172;
      padding-top: 25rem;
      height: 50rem;
      z-index: 2;
  }

}
@media(min-width: 1000px){
  .int{
   height: 290px;
  }
  .row{
    padding-left: 3rem;
    padding-right: 3rem;
  }
  .int:hover{
    background: linear-gradient(90deg,#34a853 4%,#4285f4 0%) top/100% 34% no-repeat,linear-gradient(90deg,#232020 50%,#4285f4 0%) top/100% 82% no-repeat,linear-gradient(90deg,#232020 10%,#ea4335 0%) top/100% 100%;
  }

  #testimonials{
    text-align: center;
    background-color: #ef8172;
    padding-top: 10rem;
    display: block;
    z-index: 1;

  }
}
  .woof{
    width: 30px;
    height: 30px;
    border-radius: 100%;
    padding-top: 2rem;
  }
  #press{
    background-color: #ef8172;
    text-align: center;
    padding:3rem;
  }
  .com{
    width: 15%;
    padding: 0 3%;
  }
  .carousel-item{
    padding: 7% 20%;
  }

