body {
      background-image: linear-gradient(to bottom right, #52de97,WHITE);
    
     }
hr {
    border-top-style: dotted;
    border-left-style: none;
    border-right-style: none;
    border-bottom-style: none;
    height: 2px;
    width: 5%;
    border-spacing: 10px;
    border-width: 5px;
    color: grey;

   }
h2 {
    border-top-right-radius: 500px;
    border-style: none;
    border-width: 1.5px;
    border-color: green;
    width: 20%;
    font-size: 120%;
    color: orange;
    background-image: linear-gradient(to right,  #52de97, WHITE);
  }
  h1 {
      border-top-right-radius: 500px;
      border-bottom-right-radius: 500px;
      border-style: none;
      border-width: 1.5px;
      width: 37%;
      background-image: linear-gradient(to right, #52de97, #c9d99e);
      font-size: 180%;
      color: #347474;
    }
    img {
        border-radius: 500px;
        border-style: none;
        }
    p {
      text-align: justify;
      font-size: 100%;
      color: teal;
    }
