body{
  text-align: center;
  margin:0;
  background-image: linear-gradient(to bottom right, #B2DFDB, #fbe555);

}
.head
{
margin:  0 auto 0 auto;
position: relative;
bottom: 350px;
}
.top-container{
margin:0;
background-image: linear-gradient(to bottom right, #B2DFDB, #fbe555);
}
.middle-container{
  padding:1.2rem;
  border-top: solid #388E3C;
  border-top-width: 0.25rem;
  background-image: linear-gradient(to top, #6b591d, #deb881);

}
.bottom-container{
  background-image: linear-gradient(to bottom, #f75f00, #7c0a02);
  margin: 0;
  border: 0;
  padding: 1.2rem;
}
h2{
  font-family: 'El Messiri', sans-serif;
  font-size: 1.6rem;
}
h5{
  font-size: 30px;
  font-family: 'El Messiri', sans-serif;
  color: grey;
  margin: 0;

}
h3
{
  font-family: 'El Messiri', sans-serif;
}
h1
{

  font-family: 'Sacramento', cursive;
  margin: 0;
  margin-top: 4px;
  color: #e25822;
  font-size: 5.62rem;
}
p{
  font-family: 'Grenze', serif;
  font-size: 1.3rem;
}
.mid{
  color: #272121;
}
.mountain{
  position: relative;
  margin:0;
  display: inline-block;
  top: 191px;

}
.skills
{ margin: 0 auto 0 auto;
  width: 25%;
  height: 25%;
}
.paint{
  width: 28%;
  height: 28%;
}
.c1{
  display: inline-block;
  position: relative;
  right: 20%;
  top: 150px;

}
.c2{
  display: inline-block;
  position: relative;
  left: 20%;
  top: 50px;
}

.content{
  border-radius: 100%;
  width: 25%;
  height: 25%;

}
hr{
  border-style: dotted;
  border-bottom: 0;
  border-left: 0;
  border-right: 0;
  border-color: grey;
  width:10%;
  border-width: 0.50rem;
}
a{
  text-decoration: none;
  color: yellow;
}
a:hover
{
  color: green;
}
.links{
  color: red;
}
